@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');

$roboto: 'Roboto Slab',
serif;
$raleway: 'Raleway',
sans-serif;
$heading: 3.25rem; //52px
$heading-two: 2.0625rem; //33px
$sub-heading: 1.5625rem; //25px
$paragraph: 1.25rem; //20px
$default-font: 1rem; //16px

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;
$primary: #0B315E;
$secondary: #F9F5EF;
$tertiary: gray;
$history: #32FA85;
$how: #FAE632;

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;



$custom-body: #020513;

$button: #EEE318;

.hist
{
    color: #EE1818;
    font-weight: 700;
}

.how 
{
    color: #EEE318;
    font-weight: 700;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #E0E0E0;

}

.custom-bg {
    background-color: rgba(5, 5, 5, 0.7) !important;
    transition: ease-in-out all .5s;

    .collapse {
        background-color: rgba(5, 5, 5, 0.7) !important;
        transition: ease-in-out all .5s;
        width: 100%;
        margin-top: 1.7rem;

    }

    a {
        color: #F1F5FD !important;
    }

    svg {
        rect {
            stroke: #fffffe;
        }

        path {
            fill: #D2D2D2;
        }
    }

}

nav {
    padding: 0 !important;
}

.navbar {
    margin: 1rem 1rem;
    padding: 1rem;
    height: auto;
    position: relative;
    margin: 0 auto;
    z-index: 99;
    max-width: 1800px;
    height: 80px;

    a {
        color: white !important;
        font-weight: 500;
    }


    a:hover {
        color: #EEE318 !important;
    }

    .custom-active {
        color: #EEE318 !important;
    }

    .logo {
        position: absolute;
        left: 0;
        padding-left: 1rem;

        @media screen and (max-width: $xl) {
            position: unset;
        }
    }

    .collapse {
        @media screen and (max-width: $lg) {
            padding-left: 1rem;
        }



    }



    .navbar-text {
        position: absolute;
        right: 0;
        padding-right: 1rem;

        @media screen and (max-width: $lg) {
            display: none;
        }

        button {
            border-radius: 0 !important;
            border-color: transparent !important;
            background-color: $button !important;
            width: 150px;
            text-transform: uppercase;
            margin-left: 1rem;

            & {
                color: #000000 !important;
                font-weight: 700 !important;
            }

            &:hover {
                background-color: #000000 !important;
                color: $button !important;

            }

        }



    }

}

.hero-img {
    height: 550px;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;


    .overlay {
        background-color: rgba($color: #000000, $alpha: .3);
        z-index: 1;
        height: 100%;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }

}

.article-container {


    .row {
        margin: 0;
    }

    height: auto;
    position: absolute;
    width: 100%;
    top: 210px;
    left: 0;

    @media screen and (max-width: 600px) {
        top: 70px;
    }

    .article-body {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: auto;
        // background-color:rgba($color: #ffffff, $alpha: 1);
        background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(187, 187, 187, 0.342) 100%);
        backdrop-filter: blur(42px);
        /* Note: backdrop-filter has minimal browser support */

        border-radius: 15px 15px 0 0;
        color: #484848;
        ol 
        {
            font-family: 'Raleway',sans-serif;
            font-size: 1rem;
            li
            {
                line-height: 33px;
            }
            b 
            {
                color: #484848;
            }
        }
        .col-12 {
            padding: 0;
        }

        .article-header {

            max-width: 650px;

            margin: 0 auto;
            height: auto;

            @media screen and (max-width: 600px) {

                ul li {
                    padding-left: 1rem;
                }
            }
          
            ul li:nth-child(1) {
                font-size: 1rem;
                font-family: $roboto;
                // color: #EEE318;
                font-weight: 700;
            }

            ul li:nth-child(2) {
                display: flex;
                align-items: center;

                h1 {
                    font-size: 2.5625rem;
                    margin: 0;
                    padding: .5rem 0;
                    color: #2b2a2a;
                    font-family: $roboto;
                }
            }

            .article-author-info {
                padding-top: 1rem;
                display: flex;
                max-width: 220px;
                justify-content: space-between;
                align-items: center;
                font-family: $raleway;

                .author-img {
                    width: 50px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: #000000;
                    background-image: url("../../../img/author-img.png");
                    background-size: cover;
                    background-position: center;
                }

                .author-name {
                    height: 50px;

                    p:nth-child(2) {
                        color: #676767;
                        font-family: $raleway;
                    }
                }

                p {
                    padding: 0;
                    margin: 0;
                    font-family: $roboto;
                    font-size: 1rem;
                }


            }
        }



        .sub-heading-container {
            max-width: 550px;
            margin: 0 auto;
            background-color: #f1f5fd9f;

            .sub-heading-text {
                max-width: 510px;
                margin: 0 auto;
                padding: 12px 17px;

                p {
                    margin: 0;
                    font-size: 1rem;
                    font-family: $raleway;
                    font-weight: 500;
                    line-height: 33px;
                    color: #484848;
                }
            }
        }


        .article-hero-img {
            max-width: 800px;

            @media screen and (min-width: 1200px) {
                max-width: 1000px;
            }

            margin: 0 auto;
            padding-top: 2rem;
            padding-bottom: 2rem;

            img {
                width: 100%;
                height: 100%;
                margin: 0 auto;
                border-radius: 15px;
            }
        }



        .article-quote {
            width: 600px;
            margin: 0 auto;
            position: relative;
            display: flex;
            justify-content: center;

            span:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
            }

            span:nth-child(2) {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            p {
                max-width: 500px;
                font-size: 1rem;
                margin: 0 auto;
                line-height: 33px;
                padding: 0 .5rem;
                font-family: $raleway;
                font-style: italic;
                color: #484848;
            }

            svg {
                width: 30px;
                height: 20px;
            }

            @media screen and (max-width:800px) {
                width: 90%;

                svg {
                    width: 30px;
                    height: 20px;
                }

                p {
                    margin: 0 2rem;
                    font-size: 1.1rem;
                }
            }
        }


        .article-content {

            h1,
            h2 {
                font-family: $roboto;
                color: #484848;
                padding-bottom: 1rem;
            }

            h1 {
                font-weight: 700;
            }

            h2 {
                font-weight: 500;
            }

            p {
                font-family: $raleway;
                font-size: 1rem;
                color: #484848;
                line-height: 33px;

            }

            p:first-of-type:first-letter {
                font-family: $roboto;
                font-size: 3rem;
                font-weight: normal;
                letter-spacing: 2px;
            }

            max-width: 546px;
            margin: 0 auto;
            padding: 0 1rem;

            @media screen and (min-width: 991px) {
                margin: 0 50px;
            }
        }


        .related-articles-main-container {
            max-width: 546px;
            margin: 0 auto;
        }

        .related-article-container {
            max-width: 300px;
            background-color: #f1f5fd31;
            font-family: $roboto;
            margin: 0 auto;
            border-radius: 5px;

            @media screen and (max-width: 992px) {
                max-width: 546px;
            }

            h3 {
                font-size: 1.2rem;
                padding-left: 1rem;
                padding-bottom: 0;
                padding-top: 1rem;
            }

            .related-article-cards {
                width: 95%;
                margin: 0 auto;

                @media screen and (max-width: 991px) {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-row: auto;
                    grid-gap: .5rem;
                    justify-content: center;
                    margin-bottom: 2rem;
                }

                @media screen and (max-width: 705px) {
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-row: 1fr;

                    justify-content: center;
                }

                .related-article-card {
                    max-width: 300px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    padding: 1rem 0;

                    .related-article-img {
                        width: 90px;
                        height: 80px;
                        border-radius: 5px;
                        background-color: #fffffe;
                        background-size: cover;
                        background-position: center;
                    }

                    .related-article-info {
                        width: 150px;
                        display: grid;
                        grid-template-rows: 1fr fit-content;
                        // place-items: center;

                        h4,
                        a {
                            font-size: 1rem;
                            margin-bottom: 0;
                            font-family: $roboto;
                            color: #484848;
                            font-weight: 700;
                            line-height: 27px;
                        }

                        a:hover {
                            color: rgba($color: #000000, $alpha: .3);
                        }

                        p {
                            font-size: .8rem;
                            font-family: $roboto;
                            color: #484848;
                            font-weight: normal;
                            place-self: start;
                            padding-top: 1rem;
                        }
                    }
                }
            }
        }

        .read-next {
            max-width: 300px;
            margin: 0 auto;
            background-color: #f1f5fd4d;
            padding: 2rem 1rem;

            .read-next-contents {
                width: 95%;
                margin: 0 auto;

                h3 {
                    font-size: 1rem;
                    font-weight: bolder;
                    font-family: $roboto;
                    color: #484848;
                    padding-bottom: .5rem;
                }

                a {
                    font-size: 1.25rem;
                    font-weight: 500;
                    font-family: $roboto;
                    color: #484848;
                    line-height: 33px;
                }

                a:hover {
                    color: rgba($color: #000000, $alpha: .3);
                }

                p {
                    font-size: 1rem;
                    font-family: $raleway;
                    line-height: 27px;
                    margin-bottom: 0;
                    padding-top: .3rem;

                }
            }

            @media screen and (max-width: 1000px) {
                max-width: 546px;
                padding: 2rem 0;
                margin-bottom: 2rem;
            }
        }

    }


}

footer {
    min-height: 77px;
    width: 100%;
    background-color: #F1F5FD;
    display: grid;
    place-items: center;
    z-index: 5;

    .footer-item {
        text-align: center;

        ul {
            width: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
        }
    }
}



.article-read-next {

    .article-learn-more {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    border-top: solid 1px rgba(39, 39, 39, 0.97);

    h4 {
        max-width: fit-content;
        margin: 1rem auto;
    }
    ul {
        background-color: #f1f5fd31;
        // padding: 1rem;
        padding-left: 1rem;
        width: 250px;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }
    a 
    {
        color:black;
    }
    li:nth-child(1)
    {
       display: none;
        font-weight: 500;
        color: #484848;
    }
    a:hover 
    {
        color: rgba($color: #000000, $alpha: .3);
    }
    h3  
    {
        font-size: 1.25rem;
        max-width: 180px;
    }
    h4,
    ul {
        margin-top: 1rem;
    }
}